In [ ]:
#Question1
value of a =6
Exaplanation
here function b i excecuted 3 times
for the first b()
function c is called which returns a+2 ie 0+2=2
for the second b()
function c is called which returns a+2 ie 2+2=4
for the thirs b()
function c is called which returns a+2 ie 4+2=6

In [5]:
#Question 2
def file_length(filename):
    try:
        with open(filename, 'r') as file:
            content = file.read()
            return len(content)
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
        
file_length('midterm.py')

20

In [6]:
file_length('midter.py')

File 'midter.py' not found.

In [22]:
#Question 3
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [17]:
#Question 3 a,b,c
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [23]:
k=Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [24]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [25]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

In [36]:
#Question 4
def collatz(x):
    print(x)
    if x == 1:
        return 
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [37]:
collatz(1)

1

In [34]:
collatz(10)

10
5
16
8
4
2
1

In [44]:
#Question 5
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2) #str() is a Python built-in function that converts its argument into a string.

In [47]:
binary(0)

'0'

In [48]:
binary(1)

'1'

In [49]:
binary(3)

'11'

In [50]:
binary(9)

'1001'

In [ ]:
Write SQL queries on the below database table that return: 

a) All the temperature data

Select temperature from Table;

b)All the cities, but without repetition.

SELECT DISTINCT city FROM your_table_name;

c) All the records for India.

Select * from table where country='India';

d) All the Fall records

Select * from table where season='Fall';

e)The city, country, and season for which the average rainfall is between 200 
and 400 millimeters

Select city,country,season from tabble where avg(rainfall) between 200 and 400

f)The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order

SELECT city, country FROM table WHERE season = 'Fall'
HAVING AVG(temperature) > 20
ORDER BY AVG(temperature) ;


g)The total annual rainfall for Cairo.

SELECT SUM(rainfall) AS total_annual_rainfall
FROM table
WHERE city = 'Cairo';

h)The total rainfall for each season.

SELECT season, SUM(rainfall) AS total_rainfall
FROM table
GROUP BY season;